<div class="toggleHeader">
  <mat-button-toggle-group appearance="legacy" name="fontStyle" aria-label="Font Style">

    <mat-button-toggle routerLink="" routerLinkActive="active" value="bold">All</mat-button-toggle>

    <mat-button-toggle routerLink="live" routerLinkActive="active" value="italic">LiveScores
    </mat-button-toggle>

    <mat-button-toggle routerLink="upcoming" routerLinkActive="active" value="underline">Upcoming Matches
    </mat-button-toggle>

  </mat-button-toggle-group>
</div>
