.page{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.context{
  font-family: cursive;
  margin: 5px;
}

.headline{
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: bold;
  font-size: xx-large;
  margin: 5px;
}

.authors{
  margin: 5px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.news-image{
  width: max-content;
}

.content{
  margin-left: 50px;
  margin-right: 50px;
}

a{
  color: bisque;
  font-family: 'Times New Roman', Times, serif;
}


img{
  width: 100%;
  height: 40%;
}

@media only screen and (max-width: 600px) {
  img {
    width: 50%;
  height: 20%;
  }
}
