/* .container{
  display: flex;
  background-color: #0E1837;
  margin: 3px;
  border-radius: 10px;
  box-shadow: 1px 1px 10px 2px #ffffff;
  justify-content: space-between;
  padding: 5px;
}

.leftPart{
  display: flex;
  width: 75%;
  flex-direction: column;
  justify-content: center;
  font-size: medium;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.leftDown{
  display: flex;
  margin-top: 25px;
  justify-content: space-evenly;
  align-items: baseline;
  font-family: 'Courier New', Courier, monospace;
  color: white;
  font-size: small;
} */


.example-card{
  margin: 15px;
  background: linear-gradient(90deg, rgba(15,29,66,1) 0%, rgba(16,52,74,1) 15%, rgba(18,75,82,1) 30%, rgba(19,98,90,1) 45%, rgba(19,98,90,1) 55%, rgba(18,75,82,1) 70%, rgba(16,52,74,1) 85%, rgba(15,29,66,1) 100%);

}


mat-card-actions{
  display: flex;
  justify-content: space-around;
}
